body{
  font-family: 'Fira Sans', sans-serif;
  background-color: white;
}

table {
  color: white;
  background-color: black;
}

table, h4 {
  color: white;
  background-color: black;
}

p {
  color: lime;
}

input {
  color: lime;
}

i {
  font-size: 2.rem;
}

td{
  font-size: 1.2em;
  max-width:100%;
  white-space:nowrap;
}

th{
  font-size: 1em;
  max-width:50%;
  white-space:nowrap;
}

.terminal h6 {
  color: lime;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.btn-large {
  text-decoration: none;
  color: #fff;
  background-color: #3f504f;
  width: 200px;
  text-align: center;
  letter-spacing: .5px;
}

.btn-large:hover {
    background-color: #587b78;
}


.terminal {
  font-family: 'Courier';
  background-color: black;
  border: solid 1px grey
  margin-top: 15px;
  padding: 15px;
  height: 100%;
  word-wrap: break-word;
}

.header, h6{
  font-family: 'Fira Sans', sans-serif;
}

.search {
  background: rgb(196,208,226);
  color: black;
 }

.target {
  background: black;
  color: white;
 }

.target.search {
  background: #FFFB00;
  color: black;
 }

 .bottom-bar{
   position :absolute;
   width: 100%;
   height: 15%;
   bottom: -10%;
   background-color: black;
 }

 #next-level {
   color: lime;
   position: relative;
   padding-left: 1px;
   background-color: black;
   animation: blink 2s infinite;
   border: none;
   font-size: 1.2rem;
 }

 #bars {
   position: absolute;
   z-index: 1;
   top: 0;
   height: 105%;
   right: 10%;
   animation: drop;
   animation-duration: 2s;
 }
 #crown {
   position: absolute;
   z-index: 1;
   height: 50%;
   top: -12em;
   left:50%;
   -webkit-transform: rotate(-12deg);
   animation: crowndrop;
   animation-duration: 2s;
 }

 #nav-mobile {
     right: 0;
     left: inherit;
 }
 #snowden {
    height: 100%;
    position:absolute;
    top:0%;
    left:50%;
}
#left-hand {
    height: 45%;
    position:absolute;
    bottom: -10%;
    left:45%;
}
#right-hand {
    height: 48%;
    position:absolute;
    bottom: -10%;
    left:82%;
}

col:nth-child(2n+3) {
  /*background-color: white;*/
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: white;
}


@keyframes blink {
  to {
    opacity: .25;
  }
}

/* Chrome, Safari, Opera */
@-webkit-keyframes drop {
    0%    {top:-1000px;}
    70%   {top:0px;}
    74%   {top:10px;}
    78%   {top:0px;}
    82%   {top:8px;}
    86%   {top:0px;}
    92%   {top:6px;}
    100%  {top:0px;}
}

@-webkit-keyframes crowndrop {
    0%    {top:-35em; -webkit-transform: rotate(0deg);}
    35%   {top:-30em;-webkit-transform: rotate(0deg);}
    40%   {top:-25em;-webkit-transform: rotate(0deg);}
    45%   {top:-20em;-webkit-transform: rotate(0deg);}
    50%   {top:-13em;-webkit-transform: rotate(0deg);}
    86%   {top:-13em;-webkit-transform: rotate(0deg);}
    92%   {top:-12em;-webkit-transform: rotate(-14deg);}
    100%  {top: -12em; -webkit-transform: rotate(-10deg);}
}

/*@-keyframes drop {
    0%   {top:-1000px;}
    94%   {top:0px;}
    98%  {top:10px;}
    100%  {top:0px;}
}*/
