body{
  font-family: 'Courier';
  background-color: white;
}

table {
  color: white;
  background-color: black;
}

table, h4 {
  color: white;
  background-color: black;
}

p {
  color: lime;
}

input {
  color: lime;
}

button {
  position: absolute;
  left: 0%;
  font-size: 1.25rem;
}

i {
  font-size: 2.rem;
}

h6 {
  color: lime;
  font-size: 1.25rem;
  margin-bottom: 2rem;
}

.header, h6{
  font-family: 'Fira Sans', sans-serif;
}

.terminal {
  background-color: black;
  border: solid 1px grey
  margin-top: 15px;
  padding: 15px;
  height: 100%;
  word-wrap: break-word;
}

.search {
  background: rgb(196,208,226);
  color: black;
 }

.target {
  background: black;
  color: white;
 }

.target.search {
  background: #FFFB00;
  color: black;
 }

 .bottom-bar{
   position :absolute;
   width: 100%;
   height: 15%;
   bottom: -10%;
   background-color: black;
 }

 .btn {
   color: lime;
   position: relative;
   padding-left: 1px;
   /*padding: 0 14px;*/
   animation: blink 2s infinite;
 }

 .btn i {
   font-size: 1.75rem;
 }

 #nav-mobile {
     right: 0;
     left: inherit;
 }
 #snowden {
    height: 100%;
    position:absolute;
    top:0%;
    left:50%;
}
#left-hand {
    height: 45%;
    position:absolute;
    bottom: -10%;
    left:45%;
}
#right-hand {
    height: 48%;
    position:absolute;
    bottom: -10%;
    left:82%;
}

@keyframes blink {
  to {
    opacity: .25;
  }
}
