body{
  font-family: 'Fira Sans', sans-serif;
}

.search {
  background: #FF803A;
 }

.target {
  background: #1A72CC;
  color: white;
 }
.target.search {
  background: #B0FF9D;
  color: black;
 }
 #nav-mobile {
     right: 0;
     left: inherit;
 }
