  <table id="nav-mobile" class="highlight side-nav fixed">
    <thead>
      <tr>
        <th>Regex</th>
        <th>Effect</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>\d</td>
        <td>Selects numeric chararcters</td>
      </tr>
      <tr>
        <td>\s</td>
        <td>Selects only white spaces</td>
      </tr>
      <tr>
        <td>^</td>
        <td>Start of string, or start of line in multi-line pattern</td>
      </tr>
      <tr>
        <td>\Z</td>
        <td>End of string</td>
      </tr>
      <tr>
        <td>\b</td>
        <td>Word boundary</td>
      </tr>
    </tbody>
  </table>
</div>
